<div class="container" [@fade]="true">
  <div [hidden]="error">
    <div class="row" [@topDown]="true" *ngIf="!selectedUser && !success">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <h2>Welcome!</h2>

        <mat-form-field class="w-100">
          <mat-select placeholder="Who are you?" [(value)]="selectedContact" (selectionChange)="checkItems(selectedContact)">
            <mat-option [value]="anyVal" disabled>Who are you?</mat-option>
            <mat-option *ngFor="let contact of contacts" [value]="contact">{{ contact.first_name }} {{ contact.last_name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="userInfo text-center">
      <div class="loader" *ngIf="loading && !success">
        <mat-spinner class="mx-auto" [diameter]="50" [strokeWidth]="5"></mat-spinner>
      </div>

      <div class="info" [@fade]="true" *ngIf="!loading && userName">
        <h2>Hello, {{ userName }}!</h2>

        <p [@fade]="true" *ngIf="selectedUser"><a (click)="startOver()">Not {{ userName }}?</a></p>

        <img [src]="selectedContact.image" [class.active]="selectedUser" alt="{{ userName }}">

        <div class="row" *ngIf="!selectedUser">
          <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div *ngIf="userItems.length">
              <p>You currently have the following items checked&nbsp;out:</p>

              <mat-list>
                <mat-list-item *ngFor="let item of userItems">{{ item.item }}</mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="!userItems.length">
              <p>You do not currently have any items checked&nbsp;out.</p>
            </div>

            <div class="row">
              <div class="col">
                <button class="btn btn-warning btn-lg btn-block" (click)="setCheckOut()">Check-Out</button>
              </div>
              <div class="col">
                <button class="btn btn-warning btn-lg btn-block" [disabled]="!userItems.length" (click)="setCheckIn()">Check-In</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="itemInfo" *ngIf="selectedUser && !success">
        <div class="row">
          <div class="col">
            <h4>Items checking <span *ngIf="checkOut">out</span><span *ngIf="!checkOut">in</span>:</h4>

            <mat-list>
              <mat-list-item *ngFor="let item of scannedItems">
                <span>{{ item }}</span>
                <button (click)="removeItem(item)"><i class="fa fa-minus text-danger"></i></button>
              </mat-list-item>
            </mat-list>
          </div>

          <div class="col">
            <h4>Your checked-out items:</h4>

            <mat-list>
              <mat-list-item *ngFor="let item of userItems">{{ item.item }}</mat-list-item>
            </mat-list>
          </div>
        </div>

        <mat-form-field class="mb-3 w-100" *ngIf="checkOut">
          <input matInput type="text" placeholder="Reason for check-out" required [formControl]="reasonFormControl">
          <mat-error *ngIf="reasonFormControl.hasError('required') && reasonFormControl.touched">
            Reason is required
          </mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col">
            <button class="btn btn-warning btn-lg btn-block mb-3" [disabled]="submitting" (click)="submit()">
              <span *ngIf="!submitting">Submit</span>
              <span *ngIf="submitting"><mat-spinner class="mx-auto my-1" [diameter]="22" [strokeWidth]="3"></mat-spinner></span>
            </button>
          </div>

          <div class="col">
            <button class="btn btn-secondary btn-lg btn-block mb-3" (click)="startOver()">Cancel</button>
          </div>
        </div>
      </div>

      <div class="success" [@fade]="true" *ngIf="!error && success">
        <div class="row">
          <div class="col-10 offset-1 col-md-8 offset-md-2">
            <h2 class="text-success">Success!</h2>

            <p>Thanks for checking items <span *ngIf="checkOut">out</span><span *ngIf="!checkOut">in</span>, {{ userName }}!</p>

            <div *ngIf="userItems.length">
              <p>You currently have the following items checked&nbsp;out:</p>

              <mat-list>
                <mat-list-item *ngFor="let item of userItems">{{ item.item }}</mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="!userItems.length">
              <p>You do not currently have any items checked&nbsp;out.</p>
            </div>

            <div class="row">
              <div class="col">
                <button class="btn btn-warning btn-lg btn-block mb-3" (click)="goAgain('out')">Check-Out <span *ngIf="checkOut">More </span>Items</button>
              </div>
              <div class="col">
                <button class="btn btn-warning btn-lg btn-block mb-3" [disabled]="!userItems.length" (click)="goAgain('in')">Check-In <span *ngIf="!checkOut">More </span>Items</button>
              </div>
            </div>

            <button class="btn btn-secondary btn-lg btn-block mb-3" (click)="startOver()">Done</button>
          </div>
        </div>
      </div>
    </div>

    <div class="scannerBox text-center" [hidden]="!selectedUser || success">
      <div *ngIf="!hasCameras && hasPermission === true">
        <p>Looks like your device does not have cameras, or they could not be found.</p>
      </div>

      <div *ngIf="hasPermission === undefined">
        <h2>Waiting for permissions.</h2>

        <p>If your device does not have cameras, no permissions will be asked.</p>
      </div>

      <div *ngIf="hasPermission === false">
        <p>You denied the camera permissions.</p>
      </div>

      <zxing-scanner #scanner class="test-class scanner" [scannerEnabled]="startScanning" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
    </div>
  </div>

  <div class="errorMsg" [@fade]="true" *ngIf="error">
    <p>An error occurred. Please make sure there is a strong WiFi connection and try again.</p>
  </div>
</div>
