<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <h2>Admin Login</h2>

      <form #adminForm="ngForm" novalidate>
        <mat-form-field class="w-100 mb-3">
          <input matInput type="text" placeholder="Username" autocomplete="off" required [(ngModel)]="admin.username" name="username" #username="ngModel" (ngModelChange)="hideError(adminForm)">
          <mat-error *ngIf="username.invalid && (username.touched || adminForm.submitted)">
            <p *ngIf="username.errors.required">Username is required</p>
            <p *ngIf="username.errors.invalidUsername">Invalid Username</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
          <input matInput type="password" placeholder="Password" autocomplete="off" required [(ngModel)]="admin.password" name="password" #password="ngModel" (ngModelChange)="hideError(adminForm)">
          <mat-error *ngIf="password.invalid && (password.touched || adminForm.submitted)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.invalidPassword">Invalid Password</p>
          </mat-error>
        </mat-form-field>

        <div class="errorMsg">
          <p [@topDown]="true" *ngIf="invalid">{{ err }}</p>

          <p [@topDown]="true" *ngIf="error">Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
        </div>

        <div class="text-center">
          <p class="disclaimer">* Required field</p>

          <button class="btn btn-warning" [disabled]="loading" (click)="login(admin, adminForm)">
            <span *ngIf="!loading">Submit</span>
            <span *ngIf="loading"><mat-spinner class="mx-auto my-1" [diameter]="20" [strokeWidth]="3"></mat-spinner></span>
          </button>
          <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
